--- 
layout: page 
title: BotSoft | Business 
permalink: /business 
language: en 
--- 
{% include header.html %}
<div class="container">
    <div class="row">
        <div class="col-md-12 block license-type">
            <h1>BotSoft Business</h1>
            <div class="license-description">
            </div>
        </div>
    </div>
</div>
<section id="contact-form">

    <div id="pricing" class="container" style="padding-left: 35px;">

        <div class="row">
            
            <div class="block">
                <META HTTP-EQUIV='content-type' CONTENT='text/html;charset=UTF-8'>
                <form action='https://crm.zoho.eu/crm/WebToLeadForm' name=WebToLeads74775000000090003 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory()'
                    accept-charset='UTF-8'>

                    <div class="col-md-6 col-sm-12">

                        <input type='text' style='display:none;' name='xnQsjsdp' value='b6930f3f4e7c7fdc66d8b890e3aa6bda4f863053b11fefd852467768fa2307b8'
                        />
                        <input type='hidden' name='zc_gad' id='zc_gad' value='' />
                        <input type='text' style='display:none;' name='xmIwtLD' value='964ea99c0abed63829d6ab3c7949e8c3d6471b76fa50929abd27999a3e3989ff'
                        />
                        <input type='text' style='display:none;' name='actionType' value='TGVhZHM=' />

                        <input type='text' style='display:none;' name='returnURL' value='http&#x3a;&#x2f;&#x2f;bot-soft.github.io&#x2f;www&#x2f;index'
                        />

                        <div class="pricing-option">
                            <ul style="padding-left: 35px;">
                                <li>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="ion-ios-infinite-outline"></i>
                                        </div>
                                        <div class="col-md-9 feature-text">Unlimited Subscribers</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="ion-ios-infinite-outline"></i>
                                        </div>
                                        <div class="col-md-9 feature-text">Unlimited Messages</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="ion-ios-color-wand-outline"></i>
                                        </div>
                                        <div class="col-md-9 feature-text">Custom Development</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-1">
                                            <i class="ion-ios-paw-outline"></i>
                                        </div>
                                        <div class="col-md-9 feature-text">No BotSoft Branding</div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="block">
                            <form>
                                <div class="form-group">
                                    <input maxlength='80' name='Last Name' type="text" class="form-control" placeholder="{{site.yourname[page.language]}}">
                                </div>
                                <div class="form-group">
                                    <input maxlength='100' name='Email' type="text" class="form-control" placeholder="{{site.email[page.language]}}">
                                </div>
                                <div class="form-group">
                                    <input maxlength='100' name='Company' type="text" class="form-control" placeholder="{{site.company[page.language]}}">
                                </div>
                                <div class="form-group-2">
                                    <textarea name='Description' style='display:none;' maxlength='1000' class="form-control" rows="3" placeholder="{{site.yourmessage[page.language]}}">BotSoft Business License</textarea>
                                </div>
                                <button class="btn btn-default" onclick='mixpanel.track("Contact us form submitted")' type="submit">Request</button>
                                <p style="color: #989898;font-size: 14px;">* We will get back to you shortly after your request.</p>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}