--- 
layout: page 
title: BotSoft 
permalink: / 
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">CHATBOT SOLUTION <br /> FOR YOUR BUSINESS</h1>
          <p class="animated fadeInUp">GET TO KNOW YOUR CUSTOMERS BETTER</p>
          <a href="#solution" class="btn btn-call-to-action">Learn More</a>
          <a href="#chatbot" class="btn btn-try">Give It a Try</a>
          <div class="fb-send-to-messenger" messenger_app_id="498860363814397" page_id="1633262150079201" data-ref
          color="white" size="xlarge"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="solution">
  <div class="container">
    <div class="row justify-content-md-center">

        <div class="col-md-12">
            <div class="feature-item">
              <h3><a href="https://www.facebook.com/messenger/photos/a.882538591865822.1073741828.602814669838217/1530168793769462/?type=3&theater" target="_blank">1.3 billion</a> people worldwide can reach your business with one click via <a href="https://messenger.fb.com/" target="_blank">Facebook Messenger</a></h3>
              <p> <b>BotSoft</b> mission is to enable businesses to take advantage from that enormous potential <br />and establish highly profitable sales channel that people love. </p>
            </div>
          </div>

      <!-- <div class="col-md-3 col-md-offset-2">
        <div class="feature-item">
          <i class="ion-ios-chatboxes-outline"></i>
          <h4>Adaptive Chatbot</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
          <a href="#chatbot" class="btn btn-view-works">Learn more</a>
        </div>
      </div>

      <div class="col-md-3 col-md-offset-2">
        <div class="feature-item">
          <i class="icon ion-ios-cog-outline"></i>
          <h4>Admin Dashboard</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
          <a href="#dashboard" class="btn btn-view-works">Learn more</a>
        </div>
      </div> -->

    </div>
  </div>
</section>

<!-- <section id="chatbot">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>Adaptive Chatbot</h2>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus
          ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus
          ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus
          ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a href="#" class="btn btn-view-works">Log in</a>
      </div>
    </div>
  </div>
</section>

<section id="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2>Admin Dashboard</h2>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus
          ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus
          ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus
          ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a href="#" class="btn btn-view-works">Log in</a>
      </div>
    </div>
  </div>
</section> -->

<!-- Wrapper Start -->
<section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="block">
            <img src="https://scontent.fsof3-1.fna.fbcdn.net/v/t39.2365-6/16781193_433198557012984_6554778447757967360_n.png?oh=0c889b14901ef7448acb85fb421bab51&oe=5AA9F22F">
          </div>
        </div>
        <div class="col-md-5 col-sm-12 col-md-offset-1">
          <div class="block">
            <div class="section-title">
              <h2>Sell</h2>
              <p>Your attitude </p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id </p>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Wrapper Start -->
<section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-md-offset-1">
          <div class="block">
            <div class="section-title">
              <h2>Get Insights</h2>
              <p>Your attitude </p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id </p>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="block">
              <img src="https://scontent.fsof3-1.fna.fbcdn.net/v/t39.2365-6/16686787_1822745958051449_6514289842598182912_n.png?oh=43c5cbf3ab3e50ad8820030a6092bfa2&oe=5AA78666">
            </div>
        </div>
      </div>
    </div>
  </section>

  <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <div class="block">
              <img src="https://scontent.fsof3-1.fna.fbcdn.net/v/t39.2365-6/16686354_1146227138837933_3813499172900831232_n.png?oh=8c442cdffb70939c7e538563b3788547&oe=5A70A395">
            </div>
          </div>
          <div class="col-md-5 col-sm-12 col-md-offset-1">
            <div class="block">
              <div class="section-title">
                <h2>Sell Better</h2>
                <p>Your attitude </p>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id </p>
            </div>
          </div>
        </div>
      </div>
    </section>

<!-- Wrapper Start -->
<!-- <section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Why We Are Here?</h2>
            <p>Your attitude </p>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="block">
          <img src="img/avatar.jpg">
          <p class="name">Angel Tsvetkov <br /> <span class="position">Founder BotSoft</span></p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Call to action Start -->
 <section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>The customers you want to reach already use Facebook Messanger</h2>
          <p>Now people won't need to download an app to interact with your business.<br /> We are going to build your bot and enable people to instantly reach your business on whichever device and platform they use.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Start Conversation</a>
          <!-- <br /><span>* By clicking this button you will initiate a conversation with sample chatbot.</span> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
 <!-- <section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>   -->