--- 
layout: page 
title: BotSoft 
permalink: / 
---
{% include header.html %} 

<section id="slider">
  <div class="container" style="padding-top: 300px;">
    <div class="row">
      <div class="col-md-7 col-md-offset-6">
        <div class="block title">
          <h1 class="animated fadeInUp">CHATBOT SOLUTION<br />FOR YOUR BUSINESS</h1>
          <p class="animated fadeInUp">Establish highly profitable sales channel<br />that people love<br /><br />
            <a href="#solution" class="btn btn-call-to-action">Learn More</a>
          </p>
          
          <!-- <a href="https://m.me/1633262150079201" class="btn btn-call-to-action">Give It a Try</a> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section id="solution">
  <div class="container">
    <div class="row justify-content-md-center">

      <div class="col-md-12">
        <div class="feature-item">
          <h3>
            <a href="https://www.facebook.com/messenger/photos/a.882538591865822.1073741828.602814669838217/1530168793769462/?type=3&theater"
              target="_blank">1.3 billion</a> people worldwide can reach your business with one click via
            <a href="https://messenger.fb.com/" target="_blank">Facebook Messenger</a>
          </h3>
          <p> The
            <b>BotSoft</b> mission is to enable businesses to take advantage of that enormous potential
            <br />and establish highly profitable sales channel that people love. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="./img/sell.jpg">
        </div>
      </div>
      <div class="col-md-5 col-sm-12 col-md-offset-1">
        <div class="block">
          <div class="section-title">
            <h2>Sell</h2>
            <p>Expand your market share </p>
          </div>
          <p>Engage more customers by utilizing a new sales channel with substantial potential. Sell your goods right on Facebook Messenger. Your customers are
            going to love that! </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-md-offset-1">
        <div class="block">
          <div class="section-title">
            <h2>Get Insights</h2>
            <p>Reduce your expenses </p>
          </div>
          <p>Analyze what your customers are willing to buy and what they are not. Exclude the products they are not interested
            and reduce your expenses. Make the customer's choice easier. The easier customers choose what to buy, the happier
            they will be. </p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="./img/get-insights.jpg">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="./img/sell-better.jpg">
        </div>
      </div>
      <div class="col-md-5 col-sm-12 col-md-offset-1">
        <div class="block">
          <div class="section-title">
            <h2>Sell Better</h2>
            <p>Increase your revenue </p>
          </div>
          <p>Having the insights who your customers are, what they like and what they don't, you will be able to organize and present your goods in the most attractive way based on the customer preferences. Offer goods that they are willing to buy, and this is going to increase your incomes! </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>The customers you want to reach already use Facebook Messanger</h2>
          <p>Now people won't need to download an app to interact with your business.
            <br /> We are going to build your chatbot and enable people to instantly reach your business on whichever device and platform
            they use.</p>
          <a class="fb-send-to-messenger" messenger_app_id="498860363814397" page_id="1633262150079201" data-ref color="white" size="xlarge"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="block">
        <META HTTP-EQUIV='content-type' CONTENT='text/html;charset=UTF-8'>
        <form action='https://crm.zoho.eu/crm/WebToLeadForm' name=WebToLeads74775000000090003 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory()'
          accept-charset='UTF-8'>
          <h3>CONTACT US</h3>
          <div class="col-md-6 col-sm-12">
            <!-- Do not remove this code. -->
            <input type='text' style='display:none;' name='xnQsjsdp' value='b6930f3f4e7c7fdc66d8b890e3aa6bda4f863053b11fefd852467768fa2307b8'
            />
            <input type='hidden' name='zc_gad' id='zc_gad' value='' />
            <input type='text' style='display:none;' name='xmIwtLD' value='964ea99c0abed63829d6ab3c7949e8c3d6471b76fa50929abd27999a3e3989ff'
            />
            <input type='text' style='display:none;' name='actionType' value='TGVhZHM=' />

            <input type='text' style='display:none;' name='returnURL' value='http&#x3a;&#x2f;&#x2f;bot-soft.github.io&#x2f;www&#x2f;index'
            />
            <!-- Do not remove this code. -->
            <div class="form-group">
              <input maxlength='80' name='Last Name' type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input maxlength='100' name='Email' type="text" class="form-control" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input maxlength='100' name='Company' type="text" class="form-control" placeholder="Company">
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="block">
              <form>
                <div class="form-group-2">
                  <textarea name='Description' maxlength='1000' class="form-control" rows="3" placeholder="Your Message"></textarea>
                </div>
                <button class="btn btn-default" type="submit">Send</button>
              </form>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}