<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          <div id="contact-box" class="row">
            <div class="col-md-4 col-sm-12">
              <ul class="address-block">
                <li>
                  <a href="#solution">{{site.about[page.language]}}</a>
                </li>
                <li>
                  <a href="#intro">{{site.product[page.language]}}</a>
                </li>
                <li>
                  <a href="#service">{{site.services[page.language]}}</a>
                </li>
                <!-- <li>
                  <a href="https://medium.com/botsoft">{{site.headerblog[page.language]}}</a>
                </li> -->
              </ul>
            </div>
            <div class="col-md-4 col-sm-12">
              <ul class="address-block">
                <li>
                  <i class="fa fa-envelope-o"></i>
                  <a href="mailto:sales@botsoft.ai">sales@botsoft.ai</a>
                </li>
                <!-- <li>
                  <i class="fa fa-phone"></i> +359883460715
                </li> -->
              </ul>
            </div>
            <div class="col-md-4 col-sm-12">
              <ul class="social-icons">
                <li>
                  <a href="https://www.facebook.com/botsoftpage">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/Bot__Soft">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <li>
                    <a href="https://plus.google.com/114286028981915975973">
                      <i class="fa fa-google"></i>
                    </a>
                  </li>

                </li>

              </ul>
            </div>
          </div>
        </div>
        <p>BotSoft 2017. All rights reserved.</p>
      </div>
    </div>
  </div>

</footer>