<!-- Header Start -->
<header>
<div id="header" class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img style="width:181px; height: auto;" src="{{ site.github.url }}/img/logo.png" alt="Logo">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/#pricing">Pricing</a></li>
                <li><a href="/#botsoft-menu-all">Templates</a></li>
                <li><a href="/#service">Custom Chatbot</a></li>
                <!-- <li><a href="/#contact-form">{{site.contactush[page.language]}}</a></li> -->
                <!-- <li><a class="fb-send-to-messenger" style="padding-top: 5px;" messenger_app_id="498860363814397" page_id="1633262150079201" data-ref="landing-page" color="white" size="large"></a></li> -->
                <!-- <li><a href="https://medium.com/botsoft">{{site.blog[page.language]}}</a></li> -->
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
