	<!-- Header Section Start -->
	<header id="home" class="hero-area">
		<div class="overlay">
			<span></span>
			<span></span>
		</div>

		{% include widgets/navigation.html %}

		<div class="container">
			<div class="row space-100">
				<div class="col-lg-6 col-md-12 col-xs-12">
					<div class="contents">
						<h2 class="head-title">Develop chatbots on Facebook Messenger</h2>
						<p>Simplify Facebook Messenger chatbot development by using the tools you are already familiar
							with.</p>
						<div class="header-button">
							<a href="#get-started" class="btn btn-border-filled page-scroll">Start Now</a>
							<!-- <a href="https://rebrand.ly/slick-ud" rel="nofollow" target="_blank"
	                            class="btn btn-border page-scroll">Learn More</a> -->
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-xs-12 p-0">
					<div class="intro-img">
						<img src="{{ site.baseurl }}/images/business/business-img.png" class="img-fluid" alt="">
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header Section End -->