{% include header.html %}

<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-6">
        <div class="block title">
          <h1 class="animated fadeInUp">{{site.header[page.language]}}</h1>
          <p class="animated fadeInUp">Build Facebook Messenger chatbot that solves real business problems with NO coding
            <br />
            <br />
            <a href="#botsoft-menu-all" onclick='mixpanel.track("Select Template")' class="btn btn-call-to-action">Select Template</a>
            <a href="#solution" onclick='mixpanel.track("Learn More button clicked")' class="btn btn-try">Learn More</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="solution">
  <div class="container">
    <div class="row justify-content-md-center">

      <div class="col-md-12">
        <div class="feature-item">
          <h3>{{site.missionsummary[page.language]}}</h3>
          <p>The
            <b>BotSoft</b> mission is to enable small and midsize businesses to take advantage of that enormous potential
            <br />and establish highly profitable sales channel that people love.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="botsoft-menu-all" class="template-container">
  <div>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <img src="./img/botsoft-menu-all.jpeg">
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>RESTAURANT MENU TEMPLATE
              <br />+ ADMIN</h2>
            <p>1.0.1</p>
          </div>
          <p>Interactive approach for the presentation of your menu. Attract new customers by allowing sharing of your meals
            in Facebook. Increase your customer's retention rate by keeping them informed of any deals and new meals.</p>
          <p>
            <a href="https://facebook.com/commerce/products/1421896997916068">
              <i style="font-size: 25px;" class="icon ion-android-bulb"></i> Feedback & Feature Requests
              <a>
          </p>
          <a href="https://admin.botsoft.ai/#/pages?template_id=c35c95fc-e4ac-4ba1-8d6f-b8ec89a25d48" onclick='mixpanel.track("create c35c95fc-e4ac-4ba1-8d6f-b8ec89a25d48");mixpanel.track("create started")'
            class="btn btn-create-bot">Create Chatbot</a>
          <a href="https://m.me/botsoftmenusample" onclick='mixpanel.track("preview c35c95fc-e4ac-4ba1-8d6f-b8ec89a25d48")' class="btn btn-preview">Preview</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="botsoft-tourist-agency" class="template-container">
  <div>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <img src="./img/botsoft-touristagency-all.jpeg">
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>TOURIST AGENCY TEMPLATE
              <br />+ ADMIN</h2>
            <p>1.0.0</p>
          </div>
          <p>If your goal is to attract new customers, this template is for you. All the destinations that your agency offer,
            organized by type. Your customers will be able to share them with friends. This will make your offer viral. The
            Call button is next to all of your offers, which will make easy for your customers to place a reservation. </p>
          <p>
            <a href="https://facebook.com/commerce/products/1599871543415293">
              <i style="font-size: 25px;" class="icon ion-android-bulb"></i> Feedback & Feature Requests
              <a>
          </p>
          <a href="https://admin.botsoft.ai/#/pages?template_id=5eba82af-ac83-4c9d-837d-0fcae9d7219e" onclick='mixpanel.track("create 5eba82af-ac83-4c9d-837d-0fcae9d7219e");mixpanel.track("create started")'
            class="btn btn-create-bot">Create Chatbot</a>
          <a href="https://m.me/346023942562153" onclick='mixpanel.track("preview 5eba82af-ac83-4c9d-837d-0fcae9d7219e")' class="btn btn-preview">Preview</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Custom chatbot for your business?</h2>
        <p>You've got the business idea, we've got technology!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="icon ion-ios-list-outline"></i>
          <h4>{{site.conception[page.language]}}</h4>
          <p>{{site.conceptiontext[page.language]}}</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-ios-color-wand-outline"></i>
          <h4>{{site.development[page.language]}}</h4>
          <p>{{site.developmenttext[page.language]}}</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-ios-gear-outline"></i>
          <h4>{{site.hosting[page.language]}}</h4>
          <p>{{site.hostingtext[page.language]}}</p>
        </div>
      </div>
    </div>
    <a href="#contact-form" onclick='mixpanel.track("Contact us button clicked from services")' class="btn btn-call-to-action">{{site.contactusbutton[page.language]}}</a>
  </div>
</section>

<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>{{site.calltoactiontitle[page.language]}}</h2>
          <p>{{site.calltoactiontext[page.language]}}</p>
          <div class="fb-send-to-messenger" style="margin-left: 80px;" messenger_app_id="498860363814397" page_id="1633262150079201"
            color="white" size="xlarge"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="pricing">
  <div class="container">
      <div class="section-title" style="text-align:center;">
          <h2>Pricing</h2>
          <p>Each connected facebook page is billed as a separate account.</p>
        </div>
    <div class="row pricing-table col-md-12">

      <div class="pricing-option col-md-4">
        <i class="ion-ios-person-outline"></i>
        <h1>BASIC</h1>
        <hr />
        <ul>
          <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-infinite-outline"></i>
              </div>
              <div class="col-md-9 feature-text">Unlimited Subscribers</div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-infinite-outline"></i>
              </div>
              <div class="col-md-9 feature-text">Unlimited Messages</div>
            </div>
          </li>
          <!-- <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-circle-outline"></i>
              </div>
              <div class="col-md-9 feature-text">Basic Templates</div>
            </div>
          </li> -->
          <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-paw-outline"></i>
              </div>
              <div class="col-md-9 feature-text">BotSoft Branding</div>
            </div>
          </li>
        </ul>
        <hr />
        <div class="price">
          <div class="front">
            <span class="price">FREE
            </span>
          </div>
          <div class="back">
            <a href="#botsoft-menu-all" class="button">Start NOW</a>
          </div>
        </div>
      </div>

      <div class="pricing-option col-md-4">
        <i class="ion-ios-people-outline" style="font-size: 60px;"></i>
        <h1>PRO</h1>
        <hr />
        <ul>
            <li>
              <div class="row">
                <div class="col-md-1">
                  <i class="ion-ios-infinite-outline"></i>
                </div>
                <div class="col-md-9 feature-text">Unlimited Subscribers</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-1">
                  <i class="ion-ios-infinite-outline"></i>
                </div>
                <div class="col-md-9 feature-text">Unlimited Messages</div>
              </div>
            </li>
            <!-- <li>
              <div class="row">
                <div class="col-md-1">
                  <i class="ion-ios-star-outline"></i>
                </div>
                <div class="col-md-9 feature-text">Basic + Pro Templates</div>
              </div>
            </li> -->
            <li>
              <div class="row">
                <div class="col-md-1">
                  <i class="ion-ios-paw-outline"></i>
                </div>
                <div class="col-md-9 feature-text">No BotSoft Branding</div>
              </div>
            </li>
          </ul>
        <hr />
        <div class="price">
          <div class="front">
            <span class="price">40
              <b>$</b>
            </span>/month
          </div>
          <div class="back">
            <a href="/pro" class="button">Contact Us</a>
          </div>
        </div>
      </div>

      <div class="pricing-option col-md-4">
        <i class="ion-ios-briefcase-outline" style="font-size: 60px;"></i>
        <h1>BUSINESS</h1>
        <hr />
        <ul>
            <li>
              <div class="row">
                <div class="col-md-1">
                  <i class="ion-ios-infinite-outline"></i>
                </div>
                <div class="col-md-9 feature-text">Unlimited Subscribers</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-1">
                  <i class="ion-ios-infinite-outline"></i>
                </div>
                <div class="col-md-9 feature-text">Unlimited Messages</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-1">
                  <i class="ion-ios-color-wand-outline"></i>
                </div>
                <div class="col-md-9 feature-text">Custom Development</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-1">
                  <i class="ion-ios-paw-outline"></i>
                </div>
                <div class="col-md-9 feature-text">No BotSoft Branding</div>
              </div>
            </li>
          </ul>
        <hr />
        <div class="price">
          <div class="front">
            <span class="price">Contact Us
            </span>
          </div>
          <div class="back">
            <a href="/business" class="button">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
</section>

{% include footer.html %}