{% include header.html %}

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Your customer chat code -->
<div class="fb-customerchat" attribution="setup_tool" page_id="1647350768690155" theme_color="#0084ff" logged_in_greeting="Let us help with your menu!"
  logged_out_greeting="Let us help with your menu!">
</div>

<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-6">
        <div class="block title">
          <h1 class="animated fadeInUp">CHATBOT
            <span style="color:#fefefeb8">FOR</span>
            <br />
            <span style="color:#fefefeb8">YOUR</span> RESTAURANT</h1>
          <p class="animated fadeInUp">BotSoft enables restaurant owners to acquire new customers from Facebook
            <br />
            <br />
            <a href="#botsoft-menu-all" onclick='mixpanel.track("Select Template")' class="btn btn-call-to-action">Get Started Free</a>
            <a target="_blank" id="watchVideoBtn" onclick='mixpanel.track("Watch Video button clicked")' class="btn btn-try">Watch Video</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Modal -->
<div id="youtubePlayer" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="text-align: center;">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe id="youtube-video" class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ByH6H6AbOJs?enablejsapi=1&version=3&playerapiid=ytplayer"
        frameborder="0" allowfullscreen="true" allowscriptaccess="always"></iframe>
    </div>
    <a href="#botsoft-menu-all" onclick='mixpanel.track("Select Template");stopVideo();' class="btn btn-create-bot pulse">Get Started Free</a>
  </div>
  
</div>

<script>
  // Get the modal
  var modal = document.getElementById('youtubePlayer');
  var youtubeVideo = document.getElementById('youtube-video');

  // Get the button that opens the modal
  var btn = document.getElementById("watchVideoBtn");

  // When the user clicks the button, open the modal 
  btn.onclick = function () {
    modal.style.display = "block";
  }

  function stopVideo(){
    modal.style.display = "none";
    youtubeVideo.contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*');
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      stopVideo();
    }
  }
</script>

<section id="solution">
  <div class="container">
    <div class="row justify-content-md-center">

      <div class="col-md-12">
        <div class="feature-item">
          <h3 id="metrics"></h3>
          <!-- <p>The
            <b>BotSoft</b> mission is to enable small and midsize businesses to take advantage of that enormous potential
            <br />and establish highly profitable sales channel that people love.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section id="botsoft-menu-all" class="template-container">
  <div>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <img src="./img/botsoft-menu-all.jpeg">
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>RESTAURANT MENU
              <p>1.0.1</p>
          </div>
          <ul>
            <li>
              <p>Interactive approach for the presentation of your menu.</p>
            </li>
            <li>
              <p>Attract new customers by allowing sharing of your meals in Facebook.</p>
            </li>
            <li>
              <p>Increase your customer's retention rate by keeping them informed of any deals and new meals.</p>
            </li>
          </ul>
          <p>
            <a href="https://facebook.com/commerce/products/1421896997916068">
              <i style="font-size: 25px;" class="icon ion-android-bulb"></i> Feedback & Feature Requests
              <a>
          </p>
          <a href="https://admin.botsoft.ai/#/pages?template_id=c35c95fc-e4ac-4ba1-8d6f-b8ec89a25d48" onclick='mixpanel.track("create c35c95fc-e4ac-4ba1-8d6f-b8ec89a25d48");mixpanel.track("create started")'
            class="btn btn-create-bot">Create Chatbot</a>
          <a href="https://m.me/botsoftmenusample" onclick='mixpanel.track("preview c35c95fc-e4ac-4ba1-8d6f-b8ec89a25d48")' class="btn btn-preview">Preview</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="botsoft-tourist-agency" class="template-container">
  <div>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <img src="./img/botsoft-touristagency-all.jpeg">
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>TOURIST AGENCY TEMPLATE
              <br />+ ADMIN</h2>
            <p>1.0.0</p>
          </div>
          <p>If your goal is to attract new customers, this template is for you. All the destinations that your agency offer,
            organized by type. Your customers will be able to share them with friends. This will make your offer viral. The
            Call button is next to all of your offers, which will make easy for your customers to place a reservation. </p>
          <p>
            <a href="https://facebook.com/commerce/products/1599871543415293">
              <i style="font-size: 25px;" class="icon ion-android-bulb"></i> Feedback & Feature Requests
              <a>
          </p>
          <a href="https://admin.botsoft.ai/#/pages?template_id=5eba82af-ac83-4c9d-837d-0fcae9d7219e" onclick='mixpanel.track("create 5eba82af-ac83-4c9d-837d-0fcae9d7219e");mixpanel.track("create started")'
            class="btn btn-create-bot">Create Chatbot</a>
          <a href="https://m.me/346023942562153" onclick='mixpanel.track("preview 5eba82af-ac83-4c9d-837d-0fcae9d7219e")' class="btn btn-preview">Preview</a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Custom chatbot for your business?</h2>
        <p>You've got the business idea, we've got technology!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="icon ion-ios-list-outline"></i>
          <h4>{{site.conception[page.language]}}</h4>
          <p>{{site.conceptiontext[page.language]}}</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-ios-color-wand-outline"></i>
          <h4>{{site.development[page.language]}}</h4>
          <p>{{site.developmenttext[page.language]}}</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="service-item">
          <i class="ion-ios-gear-outline"></i>
          <h4>{{site.hosting[page.language]}}</h4>
          <p>{{site.hostingtext[page.language]}}</p>
        </div>
      </div>
    </div>
    <a href="/business" onclick='mixpanel.track("Contact us button clicked from services")' class="btn btn-call-to-action">{{site.contactusbutton[page.language]}}</a>
  </div>
</section>

<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>The customers you want to reach already use Facebook Messenger</h2>
          <p>Now people won't need to download an app to interact with your restaurant.
            <br /> Create a chatbot and enable people to instantly reach your restaurant on whichever device and platform they
            use.
          </p>
          <div class="fb-send-to-messenger" style="margin-left: 80px;" messenger_app_id="498860363814397" page_id="1633262150079201"
            color="white" size="xlarge"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="pricing">
  <div class="container">
    <div class="section-title" style="text-align:center;">
      <h2>Pricing</h2>
      <p>Each connected facebook page is billed as a separate account.</p>
    </div>
    <div class="row pricing-table col-md-12">

      <div class="pricing-option col-md-6">
        <i class="ion-ios-person-outline"></i>
        <h1>BASIC</h1>
        <hr />
        <ul>
          <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-infinite-outline"></i>
              </div>
              <div class="col-md-9 feature-text">Unlimited Subscribers</div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-infinite-outline"></i>
              </div>
              <div class="col-md-9 feature-text">Unlimited Messages</div>
            </div>
          </li>
          <!-- <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-circle-outline"></i>
              </div>
              <div class="col-md-9 feature-text">Basic Templates</div>
            </div>
          </li> -->
          <!-- <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-paw-outline"></i>
              </div>
              <div class="col-md-9 feature-text">BotSoft Branding</div>
            </div>
          </li> -->
        </ul>
        <hr />
        <div class="price">
          <div class="front">
            <span class="price">FREE
            </span>
          </div>
          <div class="back">
            <a href="#botsoft-menu-all" class="button">Start NOW</a>
          </div>
        </div>
      </div>

      <div class="pricing-option col-md-4">
        <i class="ion-ios-people-outline" style="font-size: 60px;"></i>
        <h1>PRO</h1>
        <hr />
        <ul>
          <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-infinite-outline"></i>
              </div>
              <div class="col-md-9 feature-text">Unlimited Subscribers</div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-infinite-outline"></i>
              </div>
              <div class="col-md-9 feature-text">Unlimited Messages</div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-paw-outline"></i>
              </div>
              <div class="col-md-9 feature-text">No BotSoft Branding</div>
            </div>
          </li>
        </ul>
        <hr />
        <div class="price">
          <div class="front">
            <span class="price">40
              <b>$</b>
            </span>/month
          </div>
          <div class="back">
            <a href="#botsoft-menu-all" class="button">Start NOW</a>
          </div>
        </div>
      </div>

      <div class="pricing-option col-md-6">
        <i class="ion-ios-briefcase-outline" style="font-size: 60px;"></i>
        <h1>BUSINESS</h1>
        <hr />
        <ul>
          <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-infinite-outline"></i>
              </div>
              <div class="col-md-9 feature-text">Unlimited Subscribers</div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-infinite-outline"></i>
              </div>
              <div class="col-md-9 feature-text">Unlimited Messages</div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-color-wand-outline"></i>
              </div>
              <div class="col-md-9 feature-text">Custom Development</div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-1">
                <i class="ion-ios-paw-outline"></i>
              </div>
              <div class="col-md-9 feature-text">No BotSoft Branding</div>
            </div>
          </li>
        </ul>
        <hr />
        <div class="price">
          <div class="front">
            <span class="price">Contact Us
            </span>
          </div>
          <div class="back">
            <a href="/business" class="button">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
</section>

<script>
  var valuePropositions = [
    '<a href="https://www.facebook.com/messenger/photos/a.882538591865822.1073741828.602814669838217/1530168793769462/?type=3&theater" target="_blank" class="counter"> 1300000000</a> people worldwide can reach your restaurant via Facebook Messenger.',
    '<a href="http://thesocialmediamonthly.com/why-your-restaurant-needs-social-media/" target="_blank">A study</a> found <b class="counter">72</b>% of consumers have used Facebook to decide on what restaurant to eat at.',
    'More than half (<a href="https://blog.hubspot.com/blog/tabid/6307/bid/30239/71-More-Likely-to-Purchase-Based-on-Social-Media-Referrals-Infographic.aspx" target="_blank" class="counter">58</a>%) of Facebook users expect some special promotion or offer for becoming a fan of a restaurant page.'
  ];

  var valuePropositionsIdx = Math.floor(Math.random() * valuePropositions.length);;

  document.getElementById("metrics").innerHTML = valuePropositions[valuePropositionsIdx];
</script>

{% include footer.html %}