<!-- Services Section Start -->
<section id="{{ include.id }}" class="section">
    <div class="container">

        <div class="row">

            <!-- Start Col -->
            <div id="install" class="col-lg-4 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni-cog"></i>
                    </div>
                    <h4>Install</h4>
                    <p>npm install -g botsoft</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni-bolt"></i>
                    </div>
                    <h4>Connect to Facebook Page</h4>
                    <a id="connect" href="https://admin.botsoft.ai" class="btn btn-rm">Connect</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni-code-alt"></i>
                    </div>
                    <h4>Local Setup</h4>
                    <p>bs connect <span id="secret" class="placeholder">secret</span> <span id="id" class="placeholder">id</span> "<span id="name" class="placeholder">name</span>"</p>
                </div>
            </div>

            <div id="doc" class="col-lg-4 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni-book"></i>
                    </div>
                    <h4>Documentation</h4>
                    <a href="https://admin.botsoft.ai" class="btn btn-rm">Learn More</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Services Section End -->