<!DOCTYPE html>
<html class="no-js">

<head>

  {% include head.html %}

</head>

<body>
  <script>
    window.fbAsyncInit = function () {
      FB.init({
        appId: '498860363814397',
        xfbml: true,
        version: 'v2.10'
      });
      FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  {{ content }}

  <script type="text/javascript">
    var $zoho = $zoho || {};
    $zoho.salesiq = $zoho.salesiq || {
      widgetcode: "9d77a1c524fa96e08f4f949b734fef1ded81a57b36211e94ae86ab0e26d634cb",
      values: {},
      ready: function () {
        $zoho.salesiq.floatbutton.visible('hide');
      }
    };
    var d = document;
    s = d.createElement("script");
    s.type = "text/javascript";
    s.id = "zsiqscript";
    s.defer = true;
    s.src = "https://salesiq.zoho.eu/widget";
    t = d.getElementsByTagName("script")[0];
    t.parentNode.insertBefore(s, t);
  </script>

  <script>
    var mndFileds = new Array('Last Name', 'Email');
    var fldLangVal = new Array('Name', 'Email');
    var name = '';
    var email = '';

    function checkMandatory() {
      for (i = 0; i < mndFileds.length; i++) {
        var fieldObj = document.forms['WebToLeads74775000000090003'][mndFileds[i]];
        if (fieldObj) {
          if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length == 0) {
            if (fieldObj.type == 'file') {
              alert('Please select a file to upload.');
              fieldObj.focus();
              return false;
            }
            alert(fldLangVal[i] + ' cannot be empty.');
            fieldObj.focus();
            return false;
          } else if (fieldObj.nodeName == 'SELECT') {
            if (fieldObj.options[fieldObj.selectedIndex].value == '-None-') {
              alert(fldLangVal[i] + ' cannot be none.');
              fieldObj.focus();
              return false;
            }
          } else if (fieldObj.type == 'checkbox') {
            if (fieldObj.checked == false) {
              alert('Please accept  ' + fldLangVal[i]);
              fieldObj.focus();
              return false;
            }
          }
          try {
            if (fieldObj.name == 'Last Name') {
              name = fieldObj.value;
            }
          } catch (e) {}
        }
      }
    }
  </script>
</body>

</html>